### Start of Circuit ignore ###

# Ignore list for Eagle, a PCB layout tool

# Backup files
SLock_Circuit/**/*.s#?
SLock_Circuit/**/*.b#?
SLock_Circuit/**/*.l#?
SLock_Circuit/**/*.b$?
SLock_Circuit/**/*.s$?
SLock_Circuit/**/*.l$?

# Eagle project file
# It contains a serial number and references to the file structure
# on your computer.
# comment the following line if you want to have your project file included.
SLock_Circuit/**/**/eagle.epf

# Autorouter files
SLock_Circuit/**/*.pro
SLock_Circuit/**/*.job

# CAM files
SLock_Circuit/**/*.$$$
SLock_Circuit/**/*.cmp
SLock_Circuit/**/*.ly2
SLock_Circuit/**/*.l15
SLock_Circuit/**/*.sol
SLock_Circuit/**/*.plc
SLock_Circuit/**/*.stc
SLock_Circuit/**/*.sts
SLock_Circuit/**/*.crc
SLock_Circuit/**/*.crs

SLock_Circuit/**/*.dri
SLock_Circuit/**/*.drl
SLock_Circuit/**/*.gpi
SLock_Circuit/**/*.pls
SLock_Circuit/**/*.ger
SLock_Circuit/**/*.xln

SLock_Circuit/**/*.drd
SLock_Circuit/**/*.drd

SLock_Circuit/**/*.s#
SLock_Circuit/**/*.b#

SLock_Circuit/**/*.info

SLock_Circuit/**/*.eps

# file locks introduced since 7.x
SLock_Circuit/**/*.lck

### End of Circuit ignore ###
